{% extends 'core/base.html' %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Acerca de</h1>
<span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Sofia Sanchez</h2>   
        <p>Nací en Toluca, Estado de México, y estudié en la Universidad Tecnológica del Valle de Toluca (UTVT).</p>
        <p>Aún no he tenido un trabajo formal, pero me he dedicado a prepararme académicamente y a desarrollar mis habilidades para crecer tanto personal como profesionalmente. Sigo aprendiendo y formándome para aprovechar las oportunidades que vengan en el futuro.</p>
    </div>
</div>
{% endblock %}
